#SliderImg{
    width: 100%;
    height: 100%;
    background-image: url('../../assets//img//hero//h1_hero.jpg');
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
    overflow: hidden;
}
#cvbg{
    width: 100%;
    height: 100%;
    background-image: url('../../assets/img/gallery/cv_bg.jpg');
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
}
#applybg{
    width: 100%;
    height: 100%;
    background-image: url('../../assets/img/gallery/how-applybg.png');
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
}
#aboutbg{
    width: 100%;
    height: 100%;
    background-image: url('../../assets/img/hero/about.jpg');
    width: 100%;
    height: 100%;
   background-position: center;
   background-size: cover;
}