#register{
    background-image: url('https://images.unsplash.com/photo-1600880292203-757bb62b4baf?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1470&q=80');
    margin-top: 3%;
    padding: 3%;
    position: relative;
}
.overlay{
    background-color: #414c8acb;    
    width: 100%;
 height: 100%;
 position: absolute;
 top: 0;
 left: 0;
}
#registerleft{
    text-align: center;
    color: #FB276A;
    margin-top: 4%;
}
#registerleft input{
    border: none;
    border-radius: 1.5rem;
    padding: 2%;
    width: 60%;
    background: #f8f9fa;
    font-weight: bold;
    color: #383d41;
    margin-top: 30%;
    margin-bottom: 3%;
    cursor: pointer;
}
#registerright{
    background: #f8f9fa;
    border-top-left-radius: 10% 50%;
    border-bottom-left-radius: 10% 50%;
}
#registerleft img{
    margin-top: 15%;
    margin-bottom: 5%;
    width: 25%;
    -webkit-animation: mover 2s infinite  alternate;
    animation: mover 1s infinite  alternate;
}
@-webkit-keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-20px); }
}
@keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-20px); }
}
#registerleft p{
    font-weight: lighter;
    padding: 12%;
    margin-top: -9%;
}
#register #registerform{
    padding: 5%;
}
#btnRegister{
    float: right;
    margin-top: 10%;
    border: none;
    border-radius: 1.5rem;
    padding: 2%;
    background: #FB276A;
    color: #fff;
    font-weight: 600;
    width: 50%;
    cursor: pointer;
}
 #navtabs{
    margin-top: 3%;
    border: none;
    background-color: #ffffff;
    border-radius: 1.5rem;
    width: 28%;
    float: right;
}
#register #navtabs #navlink{
    padding: 2%;
    height: 34px;
    font-weight: 600;
    border-top-right-radius: 1.5rem;
    border-bottom-right-radius: 1.5rem;
}
#register  #navtabs #navlink:hover{
    border: none;
}
#register  #navtabs #navlink.active{
    width: 100px;
    color: #ffffff;
    border: 2px solid #ffffff;
    border-top-left-radius: 1.5rem;
    border-bottom-left-radius: 1.5rem;
}
#registerheading{
    text-align: center;
    margin-top: 8%;
    margin-bottom: -15%;
    color: #495057;
}
.activebtn{
  outline: none;
  border: none;
  background-color: transparent;
  color: #FB276A;
  background-color: #fb276a1e;
  padding: 10px 10px;
  transition: .5s;

}
.nonbtn{
    outline: none;
    border: none;
    background-color: transparent;
    padding: 10px 10px;
    color: #495057;
    transition: .5s;
  }